:root {
    --color-bg: #07141B;
    --color-primary: #10A3FF;
    --color-white: #FFFFFF;
    --color-light-gray: #AAB8C2;
    --color-btn-gray: #1A2630;
    --color-accent-yellow: #FFD600;
    --color-accent-red: #FF4C4C;
  }