:root {
    --color-bg: #eeeeee;
    --color-primary: #024067;
    --color-white: #000000;
    --color-light-gray: #AAB8C2;
    --color-btn-gray: #1A2630;
    --color-accent-yellow: #FFD600;
    --color-accent-red: #FF4C4C;
  }